<% provide(:title, 'About Us') %>


<h2>What Is Styled?</h2>
<p>Styled is a social sharing platform that is dedicated to sharing fashion.</p>

<h2>Why Post?</h2>
<p>At Styled we have two missions:</p>
<ol>
  <li>Help people discover new styles.</li>
  <li>Give any person the opportunity to make money as an influencer through affiliated marketing.</li>
</ol>

<h2>How Do You Make Money?</h2>
<p>Through affiliated marketing. Simply add your link with your affiliated code to the URL section of each article of clothing and users have the option of buying clothes through that link, giving you a percentage of the sale.</p>

<h2>Suggestions?</h2>
<p>We are constantly looking to improve our app, please feel free to <%= link_to "contact us", contact_path %> with any questions, suggestions or concerns you may have in it.</p>