<% if @existing_chats_users.any? %>
  <div class="chats uk-form-stacked user-form uk-card uk-card-default">
    <div class="uk-card-header">
      <h5 class="uk-card-title"><span uk-icon="icon: comments"></span>Conversations</h5>
    </div>
    <%= render partial: 'chat', collection: @chats %>
  </div>
<% end %>
