<%= form_for(current_user.likes.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :post_id, @post.id %></div>
  <div class="uk-inline">
    <span class="uk-form-icon like-heart" uk-icon="icon: heart"></span>
    <%= f.submit "", class: "uk-input uk-button like-button" %>
  </div>
<% end %>