.chat-msgs {
  max-width: 60rem;
  margin: 0 auto;

  #msgs {
    max-height: 40rem;
    overflow: auto;

    .chat-msg {
      font-size: 1.4rem;

      .msg-username {
        font-weight: 500;
      }
    }

    .msg-timestamp {
      font-size: 1.2rem;
    }
  }
}