html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

.main-container {
  padding: 6rem 1rem;
  min-height: 100vh;
  max-width: 96rem;
  margin: 0 auto;

  @media only screen and (min-width: 37.5em) {
    padding: 6rem 0;
  }
}

// UI Kit Customize
.uk-button {
  font-size: 1.2rem
}