.header{
  .big-header {
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0;

      a {
        padding: 1rem;
        color: black;
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 700;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .big-header-upper {
      display: flex;
      justify-content: center;
      height: 10rem;

      .big-header-side {
        li {
          margin-top: 6rem;
        }
      }

      .big-header-image {
        height: 100%;
        margin: 0 2rem;

        img {
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }
    }

    .border-top {
      border-top: 0.6rem black solid;
    }

    .big-header-sub {
      width: 100%;
      background-color: white;
      height: 5rem;
      line-height: 5rem;

      a {
        padding: 1rem 3rem;
        font-weight: 500;
        font-size: 1.6rem;
      }
    }
  }

  .sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
  }
}