.search-form {
  max-width: 28rem;
  text-align: center;
  margin: 5rem auto;

  .search-bar {
    width: 100%;
  }

  .search-submit {
    width: 100%;
    margin: 1rem 0 0;
  }
}

.voting-card {
  position: absolute;
  width: 100%;
  max-width: 40rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  .voting-buttons {
    display: flex;
    justify-content: center;

    button {
      margin: 0.5rem;
    }
  }
}