//Sign Up Form


// Show
.user-show-info {
  max-width: 50rem;
  margin: 3rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    width: 20rem;
    height: 20rem;
  }

  .user-show-info-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem 0 0;
  }
}

@media only screen and (min-width: 37.5em) {
  .user-show-info {
    flex-direction: row;
    justify-content: space-around;

      .user-show-info-side {
        margin: 0;
      }
  }
}

.user-show-description {
  max-width: 60rem;
  margin: 2rem auto 0;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;

  a, div {
    padding: 0.5rem;
  }
}

.user-show-button {
  width: 20rem;
  margin: 5rem auto;
  display: block;
}

.user-new-post-button {
    margin: 5rem auto 1rem;
}

.user-edit-profile-button {
    margin: 1rem auto 5rem;
}

// User Card
.user-card {
  display: flex;
  list-style: none;
  margin: 2rem auto;
  max-width: 30rem;

  .user-card-avatar {
    img {
      max-width: 10rem;
      display: block;
    }
  }

  .user-card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;

    p {
      margin: 0;
      text-align: center;
      font-size: 1.4rem;
    }
  }
}