// Show
.user-show-info {
  max-width: 50rem;
  margin: 3rem auto;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

  .user-show-info-side {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (min-width: 37.5em) {
  .user-show-info {
    flex-direction: row;
    justify-content: space-around;

      .user-show-info-side {
        margin: 0;
      }
  }
}

.user-show-description {
  max-width: 50rem;
  margin: 0 auto 5rem;
}